<div class="section" fxLayout="row" fxLayoutAlign="start center">

    <div class="icons" fxLayout="row" fxLayout.xs="row"
        fxFlex="50" fxFlex.xs="95">

       
        <div class="iconsandbuttons">
            <button class="iconbutton6" fxLayout="row" fxLayoutAlign="space-around center" (click)="isDelete()">
                <img src="../../../assets/delete_black_24dp.svg" alt="">
            </button>
            

        </div>

    </div>

    <div class="restoretrashIcons">
        
        <button mat-icon-button (click)="isUnTrash()">
            <img src="../../../assets/restore_from_trash_black_24dp.svg" alt="">
        </button>
    </div>

</div>