<div class="section">
  <div class="form">
    <mat-toolbar>

      <div class="menubutton">
        <button mat-icon-button (mouseover)='onToolbarMenuToggle()' (mouseout)='onToolbarMenuToggle()' class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- <button>
          <mat-icon (click)="sidenav.toggle();" style="color: grey; cursor: pointer;">menu</mat-icon>
        </button> -->
      </div>

      <!-- <div class="keepimageandbutton"> -->
      <img class="keepimg" src="../../../assets/keep_2020q4_48dp.png" alt="">
      <h1 style="display: inline-block;font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;color: #5f6368;opacity: 1;
      vertical-align: middle; cursor: pointer;line-height: 24px;padding-left: 4px;">Fundoo</h1>
      <span class="example-spacer"></span>

      <!-- </div> -->

      <div class="Search">
        <mat-form-field appearance="outline" [style.width.px]="600">
          <mat-label>Search</mat-label>
          <!-- <img
            style="opacity: 0.54; width: 30px; height: 30px; background-color: white; margin-top: 20%; position: relative; top: -10%;"
            src="../../../assets/search_black_24dp.svg" alt=""> -->
          <input matInput placeholder="Search">
        </mat-form-field>
      </div>

      <div class="refreshandsetting">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <img class="refreshbutton" src="../../../assets/refresh_black_24dp.svg" alt="">
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <img class="viewbutton" src="../../../assets/view_agenda_black_24dp.svg" alt="">
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <img class="settingbutton" src="../../../assets/settings_black_24dp.svg" alt="">
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <img class="appbutton" src="../../../assets/apps_black_24dp.svg" alt="">
        </button>

        <button (click)="Logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <!--here use avatar tag to display our image or starting letter of name-->
          <img class="accountbutton" src="../../../assets/account_circle_black_24dp.svg" alt="">
        </button>

      </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav mode="side" id="sidenav" [class.menu-open]="!isMenuOpen" [class.menu-close]="isMenuOpen" opened #snav
        >
        <div class="container" (mouseover)='onToolbarMenuToggle()' (mouseout)='onToolbarMenuToggle()'>
          <mat-nav-list>
            <div class="iconsandlist">
              <button mat-button class="sidenav-button" (click)="notes()">
                <img class="sidenav-img" src="../../../assets/lightbulb_black_24dp.svg" alt="">
                Notes
              </button>
            </div>
            <div class="iconsandlist">
              <button mat-button class="sidenav-button" >
                <img class="sidenav-img" src="../../../assets/notifications_black_24dp.svg" alt="">
                Reminders
              </button>
            </div>
            <div class="iconsandlist">
              <button mat-button class="sidenav-button">
                <img class="sidenav-img" src="../../../assets/mode_black_24dp.svg" alt="">
                Edit labels
              </button>
            </div>
            <div class="iconsandlist">
              <button mat-button class="sidenav-button">
                <img class="sidenav-img" src="../../../assets/archive_black_24dp.svg" alt="">
                Archives
              </button>
            </div>
            <div class="iconsandlist">
              <button mat-button class="sidenav-button">
                <img class="sidenav-img" src="../../../assets/delete_black_24dp.svg" alt="">
                Trash
              </button>
            </div>


          </mat-nav-list>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>

        <router-outlet></router-outlet>

      </mat-sidenav-content>

    </mat-sidenav-container>
    
  </div>
</div>