<div fxLayout="row wrap" fxLayoutGap="20px grid" style="padding-top: 5%; padding-left: 10%;">

  <div *ngFor="let note of notesArraylist;">

    <mat-card class="example-card">

      <mat-card-title (click)="openDialog(note)">

        {{note.title }}

      </mat-card-title>

      <mat-card-subtitle (click)="openDialog(note)">

        {{ note.description }}

        
      </mat-card-subtitle>
      
      <mat-card-content class="matcardicons">
        <app-icons [notecard]="note"></app-icons>    <!--this is used for data sharing between icons and displaynotes & is child of displaynotes-->
    </mat-card-content>
      
    </mat-card>
    
  </div>

</div>