<div class="updatenotes">
    <mat-card-title fxLayout="row">
        <input matInput type="text" [(ngModel)]="title" />    <!--ng nodel is used for two way binding-->
        <mat-icon >push_pin</mat-icon>
    </mat-card-title>

    <mat-card-subtitle>
        <input matInput type="text" [(ngModel)]="description" />
    </mat-card-subtitle>

    <mat-card-content fxlayout="row" fxLayoutAlign="space-between center" fxLayout.xs="row"style="margin-right: 7%;" >
        <app-icons></app-icons>
        <button mat-stroked-button (click)="Updatenotes()">close</button>
    </mat-card-content>
</div>

